body{
    background:rgb(196, 196, 196);
    font-family: Verdana, Tahoma, sans-serif;
    max-width: 685px;
    margin: auto;
}
.icon_img{
    border: 2.5px solid rgb(151, 151, 151);
    border-radius: 50%;
}

a{
    color:rgb(54, 2, 241);
}

ul{
    padding-left: 30px;
}

.post ul, .post_title{
    list-style-type:none;
    text-align: center;
    padding: 0px;
}


#title{
    font-weight: bold;
    text-transform: uppercase;
}

.subtitle, .post_title{
    color:rgb(2, 90, 241);
}

.post_title{
    font-size: 20px;
    margin: 0px;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.post{
    background: rgb(173, 173, 173);
    padding: 10px;
    border: 3px solid rgb(56, 56, 56);
    margin: 10px;
    border-radius: 5px;
}

.membros{
    margin: 0px;
    padding-top: 15px;
}

.post_cont{
    margin: 0px;
    text-align:justify;
    text-transform: capitalize;
}

.post_img{
    margin: 0px;
    margin: auto;
    padding: auto;
}